.terminal-container{
    width:100%;
    height:calc(100% - 3em);
    position: relative;
}

.terminal{
    width:100vw;

    height: calc(100% );
    position: relative;
    padding-bottom: 1em;
    
    background-color: rgba(0, 0, 0, 0.582);

    display:flex;
    flex-direction: column;
    row-gap: 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;

    font-family: monospace;
    font-size: 1em;
    color:white;
}

.terminal-input{
    font-family: monospace;
    font-size: 1em;
    width:100vw;
    color:white;
    background: transparent;
    border: none;
}

.terminal > input:focus{
    outline: none;
}